@page
@model RazorPagesUI.Pages.Forms.AddAdressModel
@{
    ViewData["Title"] = "Add Adress";
}

<h1>Add Adress</h1>

<form method="post">
    <input type="text" asp-for="Address.StreeAddress" placeholder="Street Address" />
    <input type="text" asp-for="Address.StreeAddress" placeholder="Street Address" />
    <input type="text" asp-for="Address.StreeAddress" placeholder="Street Address" />
    <input type="text" asp-for="Address.StreeAddress" placeholder="Street Address" />
    <button type="submit">Submit</button>


</form>

